version: '3.9'
services:
  frontend:
    build:
      context: ./frontend
    command: yarn run dev
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/app
      - frontend-node-modules:/app/node_modules
    tty: true
  bff:
    build:
      context: .
      dockerfile: ./bff/Dockerfile.local
    command: air -c .air.toml
    environment:
      - DB_HOST=db
      - DB_DATABASE=test
      - DB_USERNAME=root
      - DB_PASSWORD=password
    ports:
      - 8080:8080
    volumes:
      - ./bff:/go/src/app
    tty: true
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile.local
    command: air -c .air.toml
    environment:
      - DB_HOST=db
      - DB_DATABASE=test
      - DB_USERNAME=root
      - DB_PASSWORD=password
    ports:
      - 50051:50051
    volumes:
      - ./backend:/go/src/app
    tty: true
    depends_on:
      - db
  db:
    image: mysql:8.0.32
    environment:
      - MYSQL_DATABASE=test
      - MYSQL_ROOT_PASSWORD=password
      - TZ=/user/share/zoneinfo/Asia/Tokyo
    ports:
      - 3306:3306
    volumes:
      - db-data:/var/lib/mysql
      - ./backend/docker/db/entrypoint:/docker-entrypoint-initdb.d
volumes:
  db-data:
    driver: local
  frontend-node-modules:
    driver: local
